@import url();
*:before;
*:after{
    box-sizing: border-box;
}
/*body*/
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.main{
    background-color: black;
     
    text-align: center;
    font-size: 25px;
    float: left;
    padding-left: 40px;
    width: 50%;
    border-radius: 15px;
    margin-left: 20px;
    color: white;
    border: 5px solid;
}
/*header*/
header h1{
     text-align: center;
    color: orange;
    font-size: 48px;
}
header a{
    text-decoration: none;
}
header{
    background-color: black;
}

/*menu*/

#menu{
    float: right;
    font-size: 30px;
    margin-right: 25px;
    width: 40%;
}
#menu li{
    padding: 30px;
    list-style-type: none;
}
#menu a{
    position: fixed;
    width: 18%;
    color: orange;
    background-color: black;
    border: 5px;
    border-style: double;
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 4px;
    
}
#menu h2{
    color: white;
    font-size: 35px;
    text-align: center;
}
/*home*/

/*portfolio*/

/*about*/

/*footer*/
footer{
    clear: both;
}
footer h3{
    float: left;
    color: orange;
    font-size: 25px;
}
footer p{
    float: right;
    color: orange;
    font-size: 25px;
}